/* DB: Begin minimal CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* DB: End minimal CSS reset */

/* DB: Begin default styling, including HTML element font-size for relative units */
/* DB: More granular styling will occur with styled-components */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {

  font-size: 62.5%;

}

body {

  width: 100%;
  width: 100vw;

  background-color: #50BDE4;
  color: darkBlue;

  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

h1, h2, h3, h4, h5, h6 {

  color: darkblue;
  
  font-weight: normal;
  font-family: 'Courgette', serif;

}

p, ol, ul {

  color: darkBlue;

  font-weight: normal;
  font-family: 'Open Sans', sans-serif;

}